version: "3.8"

services:
  ferias-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ferias-api
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/estoque_db
      SPRING_DATASOURCE_USERNAME: ferias_user
      SPRING_DATASOURCE_PASSWORD: ferias_pass
      JWT_SECRET: QzVxNnJtT0l2eVZac3BJSnAwb3h4M2ZsS3F0RjlFQ0tWeXd2SGFsdA==
      JWT_EXPIRATION: 3600000
    ports:
      - "8080:8080"
    networks:
      - ferias-network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  ferias-network:
    driver: bridge
